<body>
    <nav class="mainNav fixed w-full top-0 left-0 z-50 transition-all duration-300 ease-in-out md:py-4 py-2">
        <div class="my-container mx-auto px-4 flex gap-4 items-center justify-between">      
          <div
            class="nav-logo opacity-0 hidden scale-90 transform -translate-x-10 transition-all duration-300 ease-in-out">
            <a href="/">
              <img class="logo md:w-[140px] w-[130px] " src="src/image/logo_dark.png" alt="logo" />
            </a>
          </div>
      
          <div class="navLinksContainer justify-between gap-4 md:flex  items-center  w-full transition-all duration-300 ease-in-out">
            <ul class="md:flex hidden space-x-4 md:space-x-4">
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Home</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Jobseeker</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Employer</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Service</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Training</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Easy Learning</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Career Resource</a></li>
              <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Contact Us</a></li>
            </ul>
      
            <div class="right-side duration-150 flex justify-between items-center gap-4 ">
              <div class="relative text-left group md:block hidden loginDropdown">
               
      
                <div class="absolute login-dropdown-menu -mt-2 pt-4 z-10">
                 
                </div>
              </div>
      
      
              <div class="relative hidden text-left group  profile-dropdown">
                <div class="profileImage flex-shrink-0">
                  <button class="bg-[var(--primary-blue)] hover:bg-blue-800 text-white py-2 px-4 rounded">Login</button>
                </div>
              
                <div
                  class="absolute -mt-2 pt-4 z-10 dropdown-menu profile-dropdown-menu"
                >
                <div
                class="py-1 bg-white w-auto border rounded-lg shadow-xl opacity-0 hidden group-hover:block invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 transform scale-95 group-hover:scale-100 ease-out"
                role="menu">
                <div class="mx-1 flex items-center">
                  <button class="selectJobseeker rounded-r-none text-white py-1 px-4 rounded">Jobseeker</button>
                  <button class="selectEmployer rounded-l-none text-white py-1 px-4 rounded">Employer</button>
                </div>
  
                <a href="#"
                  class="menu-link block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                  data-path="login">Login</a>
                <a href="#"
                  class="menu-link block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                  data-path="register">Register</a>
                <a href="#"
                  class="menu-link block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                  data-path="help">Help Center</a>
              </div>
                </div>
              </div>
              
              <div class="relative  text-left group  profile-dropdown">
                <div class="profileImage flex-shrink-0">
                  <img
                    src="https://avatar.iran.liara.run/public/3"
                    alt="Profile"
                    class="w-10 h-10 rounded-full border-2 border-gray-300 object-cover"
                  />
                </div>
              
                <div
                  class="absolute -mt-2 pt-4 z-10 dropdown-menu profile-dropdown-menu"
                >
                  <div
                    class="py-1 bg-white w-48 border rounded-lg shadow-xl opacity-0 hidden group-hover:block invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300 transform scale-95 group-hover:scale-100 ease-out"
                    role="menu"
                    aria-orientation="vertical"
                  >
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                      >Dashboard</a
                    >
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                      >Profile</a
                    >
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-blue-500 hover:text-white rounded-md mx-1 my-0.5"
                      >Logout</a
                    >
                  </div>
                </div>
              </div>
              
      
              <button class="menuButton w-8 h-8 md:hidden rounded-full flex items-center justify-center ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path>
                </svg>
              </button>
      
            </div>
          </div>
        </div>
      </nav>
     
      <!--------------------------------------------------------->
      <!-------------------------- sidebar---------------------->
      <!--------------------------------------------------------->
      <aside 
        class="sidebar  w-[300px] bg-white h-screen fixed top-0 left-0 z-[2000] transform -translate-x-full transition-transform duration-300 ease-in-out p-4">
        <div class="flex items-center justify-between">
          <a href="/">
            <img class="logo md:w-[140px] w-[120px] d-none d-lg-block" src="src/image/logo_dark.png" alt="logo" />
          </a>

          <button id="closeSidebar" class=" text-2xl text-black">
            <i class="ri-close-line"></i>
          </button>
        </div>
        <ul class="sidebar-list space-y-4 mt-4">
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Home</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Jobseeker</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Employer</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Service</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Training</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Easy Learning</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Career Resource</a></li>
          <li><a href="#" class="text-gray-700 hover:text-blue-600 font-medium">Contact Us</a></li>
        </ul>
      </aside>
      <div class="overlay hidden bg-[#000000d7] w-full h-screen fixed top-0 left-0 opacity- z-[1000] ">
      </div>
</body>
 