.sidebar {
  transform: translateX(-100%); /* Initially off-screen to the left */
  transition: transform 0.3s ease-out;
}

.sidebar.open {
  transform: translateX(0); /* Slide in */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none; /* Allows clicks to pass through when hidden */
}

.search-header {
  background-image: radial-gradient(rgba(0, 0, 0, 0.344), rgba(0, 0, 14, 0.862)),url('../image/banner/banner1.jpg');
  background-size: cover;
  background-position: center;
}

