@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #16157b;
    --dark-blue: #1e40af;
    --background: #ffffff;
    --background-muted: #e9edf1;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #f5f1f1;
    --popover-foreground: #0a0a0a;
   
    --foreground: #0a0a0a;
    --foreground-50: #cfd0d0;
    --foreground-100: #737578;
    --foreground-200: #53555b;
    --foreground-300: #3a404b;
    --foreground-400: #38404f;
    --foreground-500: #31353c;
    --foreground-600: #2a313a;
    --foreground-700: #2a313c;
    --foreground-800: #262d37;
    --foreground-900: #111827; 
    
    --primary: #005aec;
    --primary-foreground: #fafafa;
    --primary-900: #0061fd;
    --primary-800: #1a72ff;
    --primary-700: #2075ff;
    --primary-600: #297bff;
    --primary-500: #3985ff;
    --primary-400: #6ca5ff;
    --primary-300: #81aef7;
    --primary-200: #acc8f5;
    --primary-100: #D0E2FF;

    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --secondary-900: #1a1532;
    --secondary-800: #352a65;
    --secondary-700: #503f98;
    --secondary-600: #6b54ca;
    --secondary-500: #8669fc;
    --secondary-400: #9c84fd;
    --secondary-300: #b39efe;
    --secondary-200: #d9d0fe;
    --secondary-100: #f1eeff;

    --success-900: #007246;
    --success-800: #048a56;
    --success-700: #03995f;
    --success-600: #05a166;
    --success-500: #1cbe80;
    --success-400: #41d879;
    --success-300: #55c97f;
    --success-200: #83d3a0;
    --success-100: #b2f5ca;
    --success: #e0fae1;
    --success-foreground: #fafafa;

    --warning-900: #381903;
    --warning-800: #713206;
    --warning-700: #a94c09;
    --warning-600: #e2650c;
    --warning-500: #f28222;
    --warning-400: #f7a049;
    --warning-300: #fac073;
    --warning-200: #feefd4;
    --warning-100: #fff6e4;
    --warning: #fcefd0;
    --warning-foreground: #fafafa;

    --danger-900: #b11537;
    --danger-800: #ca153c;
    --danger-700: #d31b43;
    --danger-600: #E11D48;
    --danger-500: #f5224f;
    --danger-400: #fa3e67;
    --danger-300: #f56181;
    --danger-200: #f8a6b8;
    --danger-100: #ffbac9;
    --danger: #f5224f;
    --danger-foreground: #fafafa;

    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #0a0a0a;
    --chart-1: #eab308;
    --chart-2: #059669;
    --chart-3: #0f766e;
    --chart-4: #ca8a04;
    --chart-5: #ea580c;
    --radius: 0.5rem;
  }

  .theme-dark {
     --background: #0e1a2e;
    --background-muted: #1a2538;

     --card: #1b334a;
     --card-foreground: #0a0a0a;
     --popover: #161b31;
     --popover-foreground: #ffffff;
   
     --foreground: #ffffff;
     --foreground-50: #2b2c2c;
     --foreground-100: #3b3d41;
     --foreground-200: #515355;
     --foreground-300: #515155;
     --foreground-400: #4f5158;
     --foreground-500: #9da3a3;
     --foreground-600: #a7a7ad;
     --foreground-700: #cccece;
     --foreground-800: #dee5e6;
     --foreground-900: #ffffff;
     
    --primary: #000c20;
    --primary-foreground: #fafafa;
    --primary-900: #000610;
    --primary-800: #000c20;
    --primary-700: #001225;
    --primary-600: #001537;
    --primary-500: #00184a;
    --primary-400: #33466e;
    --primary-300: #667492;
    --primary-200: #99a3b7;
    --primary-100: #ccd1db;

    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --secondary-900: #1a1532;
    --secondary-800: #352a65;
    --secondary-700: #503f98;
    --secondary-600: #6b54ca;
    --secondary-500: #8669fc;
    --secondary-400: #9c84fd;
    --secondary-300: #b39efe;
    --secondary-200: #d9d0fe;
    --secondary-100: #f1eeff;

    --success-900: #0a290d;
    --success-800: #15521a;
    --success-700: #1f7b28;
    --success-600: #2a9b36;
    --success-500: #35bb43;
    --success-400: #47d656;
    --success-300: #5be96b;
    --success-200: #a7f6af;
    --success-100: #e2fbe5;
    --success: #e0fae1;
    --success-foreground: #fafafa;

    --warning-900: #381903;
    --warning-800: #713206;
    --warning-700: #a94c09;
    --warning-600: #e2650c;
    --warning-500: #f28222;
    --warning-400: #f7a049;
    --warning-300: #fac073;
    --warning-200: #feefd4;
    --warning-100: #fff6e4;
    --warning: #fcefd0;
    --warning-foreground: #fafafa;

    --danger-900: #b11537;
    --danger-800: #ca153c;
    --danger-700: #d31b43;
    --danger-600: #E11D48;
    --danger-500: #f5224f;
    --danger-400: #fa3e67;
    --danger-300: #f56181;
    --danger-200: #f8a6b8;
    --danger-100: #ffbac9;
    --danger: #f5224f;
    --danger-foreground: #fafafa;
    
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #0a0a0a;
    --chart-1: #eab308;
    --chart-2: #059669;
    --chart-3: #0f766e;
    --chart-4: #ca8a04;
    --chart-5: #ea580c;
    --radius: 0.5rem;
  }

  .theme-teal {
    --background: #d4f2ef;
    --background-muted: #b8e9e4;
    --card: #c0ebe6;
    --card-foreground: #2a8a81;
    --popover: #c0ebe6;
    --popover-foreground: #2a8a81;
    
    --foreground: #2a8a81;
    --foreground-50: #a5f5ed;
    --foreground-100: #7ce9de;
    --foreground-200: #7edacf;
    --foreground-300: #6cbbb4;
    --foreground-400: #43a79d;
    --foreground-500: #3bb6aa;
    --foreground-600: #30a599;
    --foreground-700: #489e95;
    --foreground-800: #2b7c74;
    --foreground-900: #0e574f;

    --primary: #2a8a81;
    --primary-foreground: #fafafa;
    --primary-900: #0a2f2c;
    --primary-800: #155d57;
    --primary-700: #108179;
    --primary-600: #1c7d74;
    --primary-500: #35bb7c;
    --primary-400: #5bc9c2;
    --primary-300: #82dbd4;
    --primary-200: #a8ece7;
    --primary-100: #d4f2ef;

    --secondary: #a7e0db;
    --secondary-foreground: #1c5d57;
    --success: #e0fae1;
    --success-foreground: #fafafa;
    --warning: #fcefd0;
    --warning-foreground: #fafafa;
    --danger: #fbe0e0;
    --danger-foreground: #fafafa;
    --muted: #b9e7e2;
    --muted-foreground: #369c93;
    --accent: #a7e0db;
    --accent-foreground: #21736a;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #80c8c0;
    --input: #a7e0db;
    --ring: #21736a;
  }

  .theme-orange {
    --background: #fff7ed;
    --background-muted: #e9dec9;
    --card: #ffe8cc;
    --card-foreground: #ea580c;
    --popover: #ffe8cc;
    --popover-foreground: #ea580c;
    
    --foreground: #ea580c;
    --foreground-50: #fffaf0;
    --foreground-100: #feebc8;
    --foreground-200: #fbd38d;
    --foreground-300: #f6ad55;
    --foreground-400: #ed8936;
    --foreground-500: #dd6b20;
    --foreground-600: #c05621;
    --foreground-700: #9c4221;
    --foreground-800: #7b341e;
    --foreground-900: #652b19;


    --primary: #ea580c;
    --primary-foreground: #fafafa;
    --primary-900: #2e0f01;
    --primary-800: #5d1f02;
    --primary-700: #8c3003;
    --primary-600: #ba4004;
    --primary-500: #ea580c;
    --primary-400: #ed7331;
    --primary-300: #f08e56;
    --primary-200: #f6c4a8;
    --primary-100: #fff1e3;
    
    --secondary: #ffcd99;
    --secondary-foreground: #a63f0a;
    --success: #e0fae1;
    --success-foreground: #fafafa;
    --warning: #fcefd0;
    --warning-foreground: #fafafa;
    --danger: #fbe0e0;
    --danger-foreground: #fafafa;
    --muted: #ffdbb3;
    --muted-foreground: #c25e1a;
    --accent: #ffcd99;
    --accent-foreground: #8c3f0b;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #ffb166;
    --input: #ffcd99;
    --ring: #8c3f0b;
  }
}

@layer utilities {
  .my-container {
    @apply mx-auto h-full w-full px-4 md:px-6 lg:px-8 ;
  }
  .search-box-width {
    @apply w-full md:w-[760px];
  }

 
  .btn-primary {
    padding: 0.5rem 1rem;
    background-color: var(--primary-blue);
    color: white;
    border-radius: 0.375rem ;
  }
  
}


/*=======================================================================*/
/****************************** Custom Button ***************************/
/*=======================================================================*/
/* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-mask-image: -webkit-radial-gradient(var(--primary-blue), #de2222);
  text-transform: capitalize;
  border: 1px solid;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

 

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  /* mix-blend-mode: difference; */
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #322ea1;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}


/*=======================================================================*/
/************************* Special Job Section ***************************/
/*=======================================================================*/
.tab-btn {
  @apply flex-1 px-6 py-3 text-sm font-medium text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-primary-blue focus:ring-inset transition-all border-l border-gray-200;
}

.tab-btn:first-child {
  @apply border-l-0;
}

.active-tab {
  @apply text-white bg-primary-blue hover:bg-blue-900;
}
.dot-bg {
  background-image:  radial-gradient(#232bd1 0.5px, transparent 0.5px), radial-gradient(#343aa3 0.5px, transparent 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}


/*================*/
/***** Table ****/
/*================*/
.status-applied { @apply bg-blue-100 text-blue-800; }
        .status-interview { @apply bg-yellow-100 text-yellow-800; }
        .status-rejected { @apply bg-red-100 text-red-800; }
        .status-accepted { @apply bg-green-100 text-green-800; }
        .status-pending { @apply bg-gray-100 text-gray-800; }
        
        .job-type-full-time { @apply bg-green-100 text-green-800; }
        .job-type-part-time { @apply bg-blue-100 text-blue-800; }
        .job-type-contract { @apply bg-purple-100 text-purple-800; }
        .job-type-remote { @apply bg-indigo-100 text-indigo-800; }
        
        @media (max-width: 768px) {
            .table-responsive {
                display: block;
                overflow-x: auto;
                white-space: nowrap;
            }
        }